$max-percent: 100%;
$black-color: #000;
$white-color: #fff;
$icon-size: 30px;
$br-radius-circle: 50%;

$font-weitghts: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "strong": 900,
);
$element-max-width: (
  "max-percent": 100%,
  "max-viewportW": 100vw,
  "max-viewportH": 100vh,
);
