$max-percent: 100%;
$common-margin: 2em;
$br-radius-circle: 50%;
$black-color: #000;

%flex-column {
  display: flex;
  flex-direction: column;
}
%custom-checkbox {
  width: $max-percent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  appearance: none;
}
%popup-grid-structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
.wrapper {
  width: $max-percent;
  @extend %flex-column;
}
.header {
  width: $max-percent;
  margin: $common-margin;
  display: flex;
  justify-content: space-around;
  ul {
    list-style: none;
  }
  .logo {
    & img {
      border-radius: $br-radius-circle;
      box-shadow: 0 0 1px 3px $black-color;
      cursor: pointer;
    }
  }
  .nav {
    .nav-ul {
      display: flex;
      gap: $common-margin / 2;
      li {
        .nav-ul-link {
          text-decoration: none;
        }
      }
      .container-popup {
        position: relative;
        .checkbox-popup {
          @extend %custom-checkbox;
        }
        .popup {
          @extend %popup-grid-structure;
          height: 250px;
          display: none;
          position: absolute;
          top: $max-percent;
          right: -$max-percent;
          overflow-x: hidden;
          img {
            width: 42px;
            height: 42px;
          }
          li {
            width: 50px;
            height: 64.5px;
            padding: 0.25em;
          }
          .container-more-popup {
            position: relative;
            padding: 0;
            padding-left: 9px;
            left: $max-percent;
            .checkbox-more-popup-label {
              img {
                transform: rotate(-90deg);
              }
            }
            .checkbox-more-popup-input {
              @extend %custom-checkbox;
            }
            .more-popup {
              @extend %popup-grid-structure;
              display: none;
              position: absolute;
              top: $max-percent;
              right: -$max-percent;
            }
            .checkbox-more-popup-input:checked {
              .container-more-popup {
                height: 1px;
              }
              position: absolute;
              top: 100px;
              ~ .more-popup {
                margin-top: -130%;
                display: grid;
                overflow-y: auto;
              }
              + .checkbox-more-popup-label {
                position: relative;
                top: $max-percent * 2;
                img {
                  transform: rotate(90deg);
                }
              }
            }
          }
        }
        .checkbox-popup:checked + .popup {
          display: grid;
        }
      }
    }
  }
}
