:root {
  --max-width: 1200px;
  --max-size-percent: 100%;
  --header-height: 80px;
  --some-not-cool-stuf-idk-maybe-ok: 500px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(251, 253, 255);
  color: rgb(0, 0, 0);
}
.header {
  height: var(--header-height);
  width: var(--max-width);
  margin: 1em 0;
  line-height: 5;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-around;
}
.menu {
  width: 50%;
}
.menu ul {
  list-style: none;
}
.menu__list {
  height: var(--max-size-percent);
  width: var(--max-size-percent);
  display: flex;
  justify-content: space-between;
}
.menu__list li a,
.logo a {
  text-decoration: none;
}
.menu__list img {
  height: 100%;
  width: var(--max-size-percent);
}
.menu__list > li:last-child,
.popup > li:last-child {
  position: relative;
  color: transparent;
}
.input-popup-span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.popup__checkbox,
.more__checkbox {
  width: var(--max-size-percent);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.popup {
  width: 400px;
  display: none;
  position: absolute;
  top: calc(100% + 1em);
  left: -175px;
}
.popup li a {
  height: 100%;
  width: 100%;
  display: flex;
}
.popup li a img {
  height: var(--header-height);
  width: var(--header-height);
}
.popup li a span {
  width: var(--max-size-percent);
  height: var(--max-size-percent);
  display: block;
  text-align: center;
  background-color: rgb(199, 195, 195);
}
.input-more-span {
  width: var(--max-size-percent);
  height: var(--max-size-percent);
  margin-left: 45%;
  line-height: 2;
  color: black;
  font-size: 2em;
}
.more__checkbox {
  background: rgba(195, 216, 255, 0.4);
}
.more {
  display: none;
}
.main {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}
.main > h1 {
  margin: 2em 0;
}
.main__content {
  display: flex;
  justify-content: space-between;
  line-height: 3;
  letter-spacing: 2px;
}
.main__content > p {
  margin: 5px;
  text-align: center;
  font-family: monospace;
}
.footer {
  max-width: var(--max-width);
  font-size: 1.5em;
}
.popup__checkbox:checked + .popup {
  display: block;
  overflow-y: overlay;
}
.popup__checkbox:focus {
  border-radius: 10%;
  box-shadow: 0 0 10px 5px black inset;
}
.more__checkbox:checked + .more {
  display: block;
  height: 0;
}
*:focus {
  color: rgb(12, 44, 231);
}
.popup a:focus {
  border: 1px solid black;
}
.more__checkbox:focus {
  box-shadow: 0 0 10px 5px black;
}
@media (max-width: 768px) {
  .wrapper {
    margin: 0 auto;
    width: var(--some-not-cool-stuf-idk-maybe-ok);
  }
  .main__content {
    width: var(--some-not-cool-stuf-idk-maybe-ok);
    flex-direction: column;
  }
  .main__content > p {
    margin: 0 3em 10px 1px;
    text-align: center;
  }
  .footer {
    width: var(--some-not-cool-stuf-idk-maybe-ok);
  }
  .header {
    width: var(--some-not-cool-stuf-idk-maybe-ok);
  }
  .menu__list > li {
    display: none;
  }
  .menu__list > li:last-child {
    margin-left: 100px;
    display: block;
  }
  .popup {
    width: 375px;
    display: none;
    position: absolute;
    top: calc(var(--max-size-percent) + 1em);
    left: -300%;
  }
  .popup img {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .header {
    max-width: var(--max-size-percent);
    margin-right: 1em;
  }
  .menu__list > li {
    margin-right: 10px;
  }
  .popup {
    top: calc(var(--max-size-percent) + 1em);
    left: -250px;
  }
}
